@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    border: 1px solid #fff;
}

.bg-magic {
    background-image: linear-gradient(
            112.5deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(
            157.5deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(
            135deg,
            rgb(214, 214, 214) 0%,
            rgb(214, 214, 214) 10%,
            rgb(195, 195, 195) 10%,
            rgb(195, 195, 195) 53%,
            rgb(176, 176, 176) 53%,
            rgb(176, 176, 176) 55%,
            rgb(157, 157, 157) 55%,
            rgb(157, 157, 157) 60%,
            rgb(137, 137, 137) 60%,
            rgb(137, 137, 137) 88%,
            rgb(118, 118, 118) 88%,
            rgb(118, 118, 118) 91%,
            rgb(99, 99, 99) 91%,
            rgb(99, 99, 99) 100%
        ),
        linear-gradient(90deg, rgb(195, 195, 195), rgb(228, 228, 228));
    background-blend-mode: overlay, overlay, overlay, normal;
    transform: scale(-1);
}

.gradient-card {
    background: linear-gradient(
        to right,
        rgba(226, 228, 246, 0.919) 0%,
        rgba(226, 228, 246, 0.427) 20%,
        rgba(226, 228, 246, 0.186) 40%,
        rgba(226, 228, 246, 0.053) 70%,
        rgba(167, 126, 232, 0) 100%
    );
}

.gradient-card-inverse {
    background: linear-gradient(
        to left,
        rgba(226, 228, 246, 0.919) 0%,
        rgba(226, 228, 246, 0.427) 20%,
        rgba(226, 228, 246, 0.186) 40%,
        rgba(226, 228, 246, 0.053) 70%,
        rgba(167, 126, 232, 0) 100%
    );
}
